@font-face {
  font-family: 'Manrope-Medium';
  src: url(./Manrope-Medium.eot);
  src: url(./Manrope-Medium.eot?#iefix) format('embedded-opentype'),
       url(./Manrope-Medium.otf) format('otf'),
       url(./Manrope-Medium.svg#Manrope-Medium) format('svg'),
       url(./Manrope-Medium.ttf) format('truetype'),
       url(./Manrope-Medium.woff) format('woff'),
       url(./Manrope-Medium.woff2) format('woff2');
}
