@font-face {
  font-family: 'Manrope-Bold';
  src: url(./Manrope-Bold.eot);
  src: url(./Manrope-Bold.eot?#iefix) format('embedded-opentype'),
       url(./Manrope-Bold.otf) format('otf'),
       url(./Manrope-Bold.svg#Manrope-Bold) format('svg'),
       url(./Manrope-Bold.ttf) format('truetype'),
       url(./Manrope-Bold.woff) format('woff'),
       url(./Manrope-Bold.woff2) format('woff2');
}
