@font-face {
  font-family: 'Manrope-Regular';
  src: url(./Manrope-Regular.eot);
  src: url(./Manrope-Regular.eot?#iefix) format('embedded-opentype'),
       url(./Manrope-Regular.otf) format('otf'),
       url(./Manrope-Regular.svg#Manrope-Regular) format('svg'),
       url(./Manrope-Regular.ttf) format('truetype'),
       url(./Manrope-Regular.woff) format('woff'),
       url(./Manrope-Regular.woff2) format('woff2');
}
